.navbar {
	margin-bottom: 20px;
}
#header {
	margin-bottom: 20px;
}

#animal-form {
	margin-top: 20px;
}

#buttons-view {
	margin-bottom: 20px;
}

.animalBtn {
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 5px;
	border: none;
	padding: 10px 40px;
	border-radius: 10px;
}