body {
	background: #272b30;
}
.navbar {
	margin-bottom: 20px;
	border: 1px solid #272b30;
	background: #272b30;
}
#header {
	font-family: 'Orbitron', sans-serif;
	font-size: 50px;
	margin-bottom: 20px;
	color: #c8c8c8;
}

#show-form {
	margin-top: 30px;
}

#show-input {
	border: none;
	font-family: 'Droid Serif', serif;
}

#add-scifishow {
	background: #2A7F7B;
	border: none;
	color: white;
	font-family: 'Droid Serif', serif;
	outline: none;
}

#buttons-view {
	margin-bottom: 20px;
}

.scifiBtn {
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 5px;
	border: none;
	padding: 10px 40px;
	border-radius: 10px;
	font-family: 'Droid Serif', serif;
}

.scifiBtn:focus {
	outline: none;
}

#clearBtn {
	border-radius: 10px;
	padding: 5px 10px;
	background: red;
	color: white;
	border: none;
	font-family: 'Droid Serif', serif;
	margin-bottom: 15px;
}

#clearBtn:focus {
	outline: none;
}

.scifiGifs {
	display: inline-block;
	margin: 10px;
}

p {
	color: white;
	font-family: 'Droid Serif', serif;
	margin-top: 10px;
}